@font-face {
  font-family: 'Druk';
  src: local('Poppins'), url(./fonts/Druk-Wide-Bold.woff) format('woff');
}
.app{
  background-color: #111111;
}
.splash{
  background-repeat: no-repeat;
  background-position: 0 15%;;
  background-size: cover;
  height: 300px;
  justify-content:center ;
  align-items: center;
  display: flex;
}
.splash-title{
  font-family: Druk;
  font-weight: 600;
  font-size: 52px;
  text-shadow: 2px 2px 8px #ffffff;
  color:#333333;

}
.splash img{
  height: 250px;
}
.container{
  padding: 0 130px;
  display: flex;
  gap:1%;
}
.section-a{
  width: 39%;
}
.section-b{
  width:59%;
}